
<ol class="post-list">
     {{#each posts as |post|}} <!-- loops over 'posts' array -->
  <li>
       {{> post-info post }}
  </li>
     {{/each}} <!-- ends loop over 'posts' array -->
</ol>

<div>Homepage</div>